EXPO_PUBLIC_AUTHAPIURL=https://YOUR_AUTHAPI_ENDPOINT/
EXPO_PUBLIC_APPAPIURL=https://YOUR_APPAPI_ENDPOINT/
EXPO_PUBLIC_GMAPVIEW_URL=https://www.google.com/maps?q=
EXPO_PUBLIC_JWT_SCRET=YOUR_JWT_KEY
